@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import './fonts.scss';
@import './color.scss';

body {
    font-family: $font-family-monospace;
    background-color: $off-white;
}

.navbar {
    background-color: $off-white;
}

// div p {
//     font-family: $font-family-secondary;
// }

.jumbotron p {
    font-family: $font-family-monospace;
}

.signature-font {
    font-family: $font-family-decorative;
}

span a {
    color:  $off-white;
    text-decoration: none;
}